html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #fffff0;
}

header, h2 {
    color: #2a455c;
    background-color: #a6c2db;
}

header {
    padding: 20px;
    border-bottom: 5px solid #cfcfff;
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 90vw;
    height: auto;
    max-width: 500px;
    display: block;
    position: relative;
    margin: 0 auto;
}

h2 {
    padding: 10px 20px 10px 10px;
    background-color: #e6e6fa;
    border-left: #a6c2db 10px solid;
}

p,
li {
    color: #4d472c;
}

p {
    padding: 0 20px 0;
}

div {
    margin: auto;
    width: 90vw;
}

li {
    padding-right: 20px;
}

a {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline 2px;
    color: #8f827b;
}

.recipe-heading {
    margin: 0;
    background-color: inherit;
    text-align: inherit;
}

.homepage-heading {
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
}

.homepage-logo {
    width: 65px;
    height: auto;
}

.recipe-item {
    list-style-type: none;
    margin-bottom: 25px;
    padding-right: 0;
    margin-left: -40px;
}

.homepage-list {
    display: flex;
    flex-flow: column wrap;
    margin-top: 40px;
}

.homepage-list img {
    width: 40vw;
    margin: 0 20px;
    float: left;
}